In [1]:
# сколько у каждого менеджера было уникальных юзеров за 2019

In [2]:
import pandas as pd 
import numpy as np
import pyarrow.parquet as pq
from pandas import read_csv, DataFrame
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [3]:
# df = pq.read_parquet(source = 'C:\Users\mihai\JupyterLab\Поебаться\Users.parquet')
UsersData = pd.read_parquet('Users.parquet', engine='fastparquet')
UsersData.columns

UsersData = UsersData[['UserID','UserEmail','TeamID','Name','IsActive','DateRegister']]
UsersData
# UsersData = pd.read_parquet('Users.parquet', engine='fastparquet')
# df.columns
# pd.options.display.max_columns = None

,UserID,UserEmail,TeamID,Name,IsActive,DateRegister
0,52e4b055dd,52e4b055dd@mail.com,6,Janet Garrett,0,2011-08-31
1,844525af93,844525af93@mail.com,10,Dinorah Lindsay,1,2012-05-08
2,e898b47b51,e898b47b51@mail.com,1,Billy Reid,0,2010-01-28
3,e55a5ed02d,e55a5ed02d@mail.com,7,Virginia Fisher,0,2012-09-15
4,f75542e2f8,f75542e2f8@mail.com,10,Debra Cochran,1,2011-05-03
...,...,...,...,...,...,...
4995,2afb4c39f2,2afb4c39f2@mail.com,18,James Moss,0,2017-08-14
4996,42132cd486,42132cd486@mail.com,3,Antonia Tankersley,0,2017-07-31
4997,51ab20581e,51ab20581e@mail.com,4,Bruce Pierson,1,2018-04-22
4998,b1ce0446cd,b1ce0446cd@mail.com,18,Leonard Clark,1,2012-08-11
4999,22dd776f25,22dd776f25@mail.com,12,Charles Byrd,0,2015-01-24

In [4]:
TeamsData = pd.read_parquet('Teams.parquet', engine='fastparquet')
TeamsData

    TeamID       TeamName       TeamManager  TeamPriority
0        1           None     Camellia Reed             5
1        2           None  Victoria Manning             2
2        3   unlicentious         Mark Todd             5
3        4     complexion    Nancy Schuller             1
4        5     whizziness       Robin Horan             5
5        6         arbute    Norman Mcenany             1
6        7  Simon Zelotes      Clara Lawson             3
7        8       sauterne    Mildred Turner             1
8        9    cercocarpus   Liana Shoemaker             2
9       10      flemingia       Annie Perez             3
10      11    cotton-teal     Bryan Delgado             5
11      12    counterless       Brian Young             1
12      13   oligodactyly  Phillip Banderas             1
13      14        malabar  Glenn Montgomery             1
14      15       paduasoy    Dorothy Delrio             1
15      16     cogitative    Mario Martinez             1
16      17   steatopygous       Robert Page             4
17      18        barbero     Theron Radish             4
18      19       flanking     Renee Facteau             5

In [5]:
MetricsData = pd.read_parquet('Metrics.parquet', engine='fastparquet',)
MetricsData.loc[:,'DateMetric'] = pd.to_datetime(
MetricsData['DateMetric'], format='%Y-%m-%d ')

MetricsData = MetricsData[(MetricsData['DateMetric'] >= '2019-1-1') & (MetricsData['DateMetric'] <= '2019-12-31')]
MetricsData

           UserId DateMetric  Mails  Hits  SMS  PhoneCalls
1      030f56a70e 2019-05-06     16    17   18           9
2      e7c09096d3 2019-01-05     41    44   34          15
3      32da84686c 2019-10-01     32    38   16           4
5      4b89775560 2019-11-21     38    22   35          12
6      fd3b31277a 2019-02-14     36    17   24           1
...           ...        ...    ...   ...  ...         ...
99993  4d5313d16d 2019-04-12     38    27   25          12
99994  76d714af39 2019-08-15     25     9   30           2
99995  949eb2a242 2019-07-17     35    44   11           6
99997  95733febdf 2019-11-10     39    37    6           8
99998  4f2c60ee36 2019-01-01      3    24   31           5

[30358 rows x 6 columns]

In [6]:
# asdf = UsersData.set_index('UserID').join(MetricsData.set_index('SMS'))
# asd = MetricsData.join(MetricsData.set_index('UserID'), on='UseriD')
Join = pd.merge(UsersData, MetricsData,  how='inner', left_on=['UserID'], right_on = ['UserId'])
Join
# JoinOne = MetricsData.join(UsersData, lsuffix='1', rsuffix='2')
# joinOne
# JoinTwo = JoinOne.join(TeamsData, lsuffix='3', rsuffix='4')
# JoinTwo
# JoinTwo.keys()

,UserID,UserEmail,TeamID,Name,IsActive,DateRegister,UserId,DateMetric,Mails,Hits,SMS,PhoneCalls
0,52e4b055dd,52e4b055dd@mail.com,6,Janet Garrett,0,2011-08-31,52e4b055dd,2019-06-29,20,7,30,18
1,52e4b055dd,52e4b055dd@mail.com,6,Janet Garrett,0,2011-08-31,52e4b055dd,2019-09-12,52,18,20,19
2,52e4b055dd,52e4b055dd@mail.com,6,Janet Garrett,0,2011-08-31,52e4b055dd,2019-07-11,48,40,6,3
3,52e4b055dd,52e4b055dd@mail.com,6,Janet Garrett,0,2011-08-31,52e4b055dd,2019-03-30,38,29,8,7
4,844525af93,844525af93@mail.com,10,Dinorah Lindsay,1,2012-05-08,844525af93,2019-05-10,57,3,10,16
...,...,...,...,...,...,...,...,...,...,...,...,...
30353,b1ce0446cd,b1ce0446cd@mail.com,18,Leonard Clark,1,2012-08-11,b1ce0446cd,2019-12-20,27,33,33,19
30354,b1ce0446cd,b1ce0446cd@mail.com,18,Leonard Clark,1,2012-08-11,b1ce0446cd,2019-04-06,30,32,26,0
30355,b1ce0446cd,b1ce0446cd@mail.com,18,Leonard Clark,1,2012-08-11,b1ce0446cd,2019-11-06,39,31,21,15
30356,22dd776f25,22dd776f25@mail.com,12,Charles Byrd,0,2015-01-24,22dd776f25,2019-12-29,52,23,21,3
30357,22dd776f25,22dd776f25@mail.com,12,Charles Byrd,0,2015-01-24,22dd776f25,2019-11-15,41,43,31,14

In [7]:
TeamIDRow = pd.merge(TeamsData, Join,  how='inner', left_on=['TeamID'], right_on = ['TeamID'])

TeamIDRow

,TeamID,TeamName,TeamManager,TeamPriority,UserID,UserEmail,Name,IsActive,DateRegister,UserId,DateMetric,Mails,Hits,SMS,PhoneCalls
0,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-01-16,38,21,12,11
1,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-04-15,27,41,2,2
2,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-06-10,11,37,5,15
3,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-10-19,6,24,11,5
4,1,None,Camellia Reed,5,32232c5aa0,32232c5aa0@mail.com,Glenn Grunder,0,2017-01-22,32232c5aa0,2019-09-06,36,20,33,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28955,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-09-14,60,34,2,5
28956,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-08-11,21,9,27,18
28957,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-05-13,18,25,25,4
28958,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-08-16,48,3,27,18
28959,19,flanking,Renee Facteau,5,53fb37ccc0,53fb37ccc0@mail.com,Henry Riley,1,2010-12-18,53fb37ccc0,2019-09-09,21,14,4,11

In [8]:
TeamIDRow.loc[:,'DateMetric'] = pd.to_datetime(
    TeamIDRow['DateMetric'], format='%Y-%m-%d ')
TeamIDRow

,TeamID,TeamName,TeamManager,TeamPriority,UserID,UserEmail,Name,IsActive,DateRegister,UserId,DateMetric,Mails,Hits,SMS,PhoneCalls
0,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-01-16,38,21,12,11
1,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-04-15,27,41,2,2
2,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-06-10,11,37,5,15
3,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-10-19,6,24,11,5
4,1,None,Camellia Reed,5,32232c5aa0,32232c5aa0@mail.com,Glenn Grunder,0,2017-01-22,32232c5aa0,2019-09-06,36,20,33,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28955,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-09-14,60,34,2,5
28956,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-08-11,21,9,27,18
28957,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-05-13,18,25,25,4
28958,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-08-16,48,3,27,18
28959,19,flanking,Renee Facteau,5,53fb37ccc0,53fb37ccc0@mail.com,Henry Riley,1,2010-12-18,53fb37ccc0,2019-09-09,21,14,4,11

In [9]:
TeamIDRow

,TeamID,TeamName,TeamManager,TeamPriority,UserID,UserEmail,Name,IsActive,DateRegister,UserId,DateMetric,Mails,Hits,SMS,PhoneCalls
0,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-01-16,38,21,12,11
1,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-04-15,27,41,2,2
2,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-06-10,11,37,5,15
3,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-10-19,6,24,11,5
4,1,None,Camellia Reed,5,32232c5aa0,32232c5aa0@mail.com,Glenn Grunder,0,2017-01-22,32232c5aa0,2019-09-06,36,20,33,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28955,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-09-14,60,34,2,5
28956,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-08-11,21,9,27,18
28957,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-05-13,18,25,25,4
28958,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-08-16,48,3,27,18
28959,19,flanking,Renee Facteau,5,53fb37ccc0,53fb37ccc0@mail.com,Henry Riley,1,2010-12-18,53fb37ccc0,2019-09-09,21,14,4,11

In [10]:
TeamIDRow = TeamIDRow[(TeamIDRow['DateMetric'] >= '2019-1-1') & (TeamIDRow['DateMetric'] <= '2019-12-31')]
TeamIDRow

,TeamID,TeamName,TeamManager,TeamPriority,UserID,UserEmail,Name,IsActive,DateRegister,UserId,DateMetric,Mails,Hits,SMS,PhoneCalls
0,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-01-16,38,21,12,11
1,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-04-15,27,41,2,2
2,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-06-10,11,37,5,15
3,1,None,Camellia Reed,5,e898b47b51,e898b47b51@mail.com,Billy Reid,0,2010-01-28,e898b47b51,2019-10-19,6,24,11,5
4,1,None,Camellia Reed,5,32232c5aa0,32232c5aa0@mail.com,Glenn Grunder,0,2017-01-22,32232c5aa0,2019-09-06,36,20,33,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28955,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-09-14,60,34,2,5
28956,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-08-11,21,9,27,18
28957,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-05-13,18,25,25,4
28958,19,flanking,Renee Facteau,5,d1ba9f94b6,d1ba9f94b6@mail.com,Joe Hayes,0,2013-04-20,d1ba9f94b6,2019-08-16,48,3,27,18
28959,19,flanking,Renee Facteau,5,53fb37ccc0,53fb37ccc0@mail.com,Henry Riley,1,2010-12-18,53fb37ccc0,2019-09-09,21,14,4,11

In [11]:
Final = TeamIDRow.groupby(['TeamManager'], as_index= False).agg({
    'UserID': pd.Series.nunique,
    'SMS': 'sum'
}).sort_values(by=['UserID'], ascending = False)
Final

         TeamManager  UserID    SMS
9          Mark Todd     271  33637
18  Victoria Manning     258  27921
17     Theron Radish     248  28436
6   Glenn Montgomery     248  26934
3      Camellia Reed     247  29805
12    Norman Mcenany     243  27793
15       Robert Page     240  24437
10    Mildred Turner     238  26062
8     Mario Martinez     236  25363
7    Liana Shoemaker     235  27041
2      Bryan Delgado     234  26988
14     Renee Facteau     233  26622
11    Nancy Schuller     232  24993
4       Clara Lawson     231  26323
16       Robin Horan     228  25486
0        Annie Perez     228  24729
5     Dorothy Delrio     226  24354
13  Phillip Banderas     225  26006
1        Brian Young     223  25804

In [14]:
Final['AvgSms'] = Final['SMS'].div(Final['UserID'])
Final.AvgSms = Final.AvgSms.astype(int)
Final

         TeamManager  UserID    SMS  AvgSms
9          Mark Todd     271  33637     124
18  Victoria Manning     258  27921     108
17     Theron Radish     248  28436     114
6   Glenn Montgomery     248  26934     108
3      Camellia Reed     247  29805     120
12    Norman Mcenany     243  27793     114
15       Robert Page     240  24437     101
10    Mildred Turner     238  26062     109
8     Mario Martinez     236  25363     107
7    Liana Shoemaker     235  27041     115
2      Bryan Delgado     234  26988     115
14     Renee Facteau     233  26622     114
11    Nancy Schuller     232  24993     107
4       Clara Lawson     231  26323     113
16       Robin Horan     228  25486     111
0        Annie Perez     228  24729     108
5     Dorothy Delrio     226  24354     107
13  Phillip Banderas     225  26006     115
1        Brian Young     223  25804     115